*{
    padding: 0;
    margin: 0;
}

/* main */
.main{
    padding: 3.2em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("./assests/Light-Brown-Background3.jpg");
    background-size: 100%;
}

/* container */
#game{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}

/* ball */
#character{
    width: 20px;
    height: 25px;
    background-color: orangered;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}

/* tiles */
.block{                                 
    width: 600px;
    height: 20px;
    background-color: #470e0e;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    /* background-color: white; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("./assests/Light-Brown-Background3.jpg");
    background-size: 100%;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
